
$grey: #fafafa;
$rose: #eedfd2;
$rose-darker: darken($rose, 8%);
$rose-darken: darken($rose, 25%);
$rose-light: lighten($rose, 5%);
$rose-lighter: lighten($rose, 20%);
$light-pink: #f5efeb;


$main-txt-dark: #020202;
$main-txt-dark-lighter: lighten($main-txt-dark, 20%);
$main-txt-light: #fbf6ef;

$accent-color: #fd4906;
$accent-color-lighter: lighten($accent-color, 25%);
$accent-color-fade: lighten($accent-color, 38%);



$logo-font: 'Nunito', sans-serif;
$title-font: 'Inter', sans-serif;


$main-font: 'Tinos', serif;

