//body
.bis-body {
    font-family: $bis-font;
}


//header, .header-bistrot to avoid conflict
.header-bistrot {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1;

}
// nav ul
.menu-bistrot {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.2rem;

    font-family: $bis-font;
    text-transform: uppercase;
    .menu-bistrot_link {
        font-weight: 500;
        font-size: 1.8rem;
        color: #fff;

    }
}

//dots for sliders

.slider {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
    transition: all 3ms ease-in-out;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #ff6000;
    width: 0.8rem;
    height: 0.8rem;
  }
  .dot.white {
    background-color: #fff;
  }
  
  .language-active {
    font-weight: bold;
  }

//hero

.hero-bis {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2
    )), url(/assets/img/bistrot-gallery/bistrot-terrace.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $bis-font;
    text-transform: uppercase;
    position: relative;
}

.hero-center {
    color: #cac6c3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


    
    h1 {
        font-size: 6rem;
        font-weight: 500;
    }
    h2 {
        font-family: $title-font;
        font-size: 3rem;
        font-weight: 400;
        
    }
    p {
        font-family: $title-font;
        font-size: 1rem;
    }
}

.hero-bottom {
    font-family: $title-font;
    font-size: 1rem;
    color: #cac6c3;
    margin-bottom: 2rem;

    position: absolute;
    bottom: 5%;

}

//introduction section

.intro {
    background-color: $rose;
    color: #ff6000;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $bis-font;

}

.intro-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 65%;
    text-align: center;
    h3 {
        text-transform: uppercase;
        text-align: center;
       
        margin-bottom: 1rem;
        font-size: 4.2rem;
        font-weight: 700;

        span {
            font-weight: 300;
            font-size: 3rem;
            
        }
    }

    p {
        line-height: 2.5rem;
        font-size: 1.5rem;
        width: 65%;
    }

    a {
        color: #ff6000;
        font-weight: 600;
    }
}

.photo {
    border: 1px solid red;
    background-color: $rose;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
      }
}

.photo_grid {
    border: 1px solid red;

    width: 80vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  
    grid-auto-rows: 15rem;
    grid-auto-flow: dense;
  }

  .photo_grid .wide {
    grid-column: span 2;
  }

  .photo_grid .tall {
    grid-row: span 2;
  }
  .photo_grid .big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    top: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  
    animation: zoom 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  

   @keyframes zoom {

    from {transform:scale(0)}

    to {transform:scale(1)}
  }

  /* Modal Content (Image) */


  .modal-content.bis-modal{
    width: 50%;
    height: 80%;
    object-fit: cover;
  }
   
  /* The Close Button */
  .closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: rgba(241, 241, 241, 0.87);
    
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 90;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
        color:  rgb(241, 241, 241);
        transition: 0.3s;
        scale: 1.5;
    }
  }

  .prevButton, .nextButton {
    position: absolute;
    top: 50%;
    color: rgba(241, 241, 241, 0.87);
    font-size: 2.5rem;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
        color:  rgb(241, 241, 241);
        transition: 0.3s;
        scale: 1.5;
    }
  }

  .prevButton {
    left: 22%;
  }

  .nextButton {
    right: 22%;
  }

  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

@media (max-width: 1600px) {
    .photo_grid {
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        grid-auto-rows: 15rem;
    }

    // .photo_grid .desktop {
    //     grid-column: span 2;
    //   }

    
}  
@media (max-width: 1400px) {
   
    .photo_grid {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-auto-rows: 15rem;
    }
    .photo_grid .desktop {
        grid-column: span 2;
      }

    .prevButton {
    left: 23%;
    }

    .nextButton {
    right: 23%;
    } 
    
}  
@media (max-width: 1052px) {

    .photo_grid {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-auto-rows: 13rem;
    }
    .photo_grid .desktop {
        grid-column: span 2;
      }

    .prevButton {
    left: 23%;
    }

    .nextButton {
    right: 23%;
    } 
    
}  

@media (max-width: 850px) {
    .photo_grid {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        grid-auto-rows: 13rem;
    }

    .photo_grid .desktop {
        grid-column: span 2;
      }

    .prevButton {
    left: 23%;
    }

    .nextButton {
    right: 23%;
    } 
}


.bis-contact_info {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    h3 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
    }
     i {
        color: #fff;
        font-size: 2rem;
     }
}

.bis-contact {
    background-color: #ff6000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bis-contact_info {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    h3 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
    }

     i {
        color: #fff;
        font-size: 2rem;
     }
}

.bis-contact_links {
    display: flex;
    gap: 1rem;
}

.bis-footer {
    height: 10vh;
    width: 100%;
    
    background: transparent;
   

    max-height: 7rem;
    justify-content: center;
    align-items: center;
    padding: .5rem 2.5rem;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;

    a {
        color: #fff;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 1rem;
        text-transform: uppercase;
    }
}



