.hero-bistrot {
    min-height: 70vh;  
    background-image: url(/assets/img/facade2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-bistrot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    padding: 5rem;
    
    
    background-color: $grey;
    font-family: $main-font;
}

.about-content-bistrot {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
    width: 60vw;
    h2 {
        font-size: 2rem;
        font-weight: 300;
        position: relative;
        margin-bottom: 3rem;
    }

    h2:before {
        content: "";
        width: 6rem;
        height: 2px;
        background-color: $rose;
        position: absolute;
        top: 51%;
        left: -110px;
    }
}

.story-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.story-col {
    width: calc(49% - 1rem);
}

.left-col {
    display: flex;
    flex-flow: column wrap;
    
    p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
}

.story-carousel {
    height: 30rem;
    
}


.bistrot-gallery {
    @extend %section;
    padding: 2rem;
    background-color: $grey;

}

.bistrot-gallery_wrapper {
    margin-top: 4rem;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    img {
        width: 33%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 2%;
    }
}

.bistrot-highlight {
    @extend %section;
    padding: 2rem;
    background-color: $grey;

}

.bistrot-info {
    width: 40vw;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1200px) {
    .about-bistrot {
        padding-bottom: 2rem;
    }
    .bistrot-gallery_wrapper  {
        gap: 0;
        margin-top: 0;
        width: 100vw;
        img {
            
            border-radius: 0;
        }
    }
}

@media (max-width: 770px) {

    .about-content-bistrot {
        width: 80vw;
        h2::before {
            width: 3rem;
            left: -60px;
        }
    }

    .story-wrapper {
        flex-flow: column wrap;
    
    }
    .story-col {
        width: calc(100% - 0.8rem);
        margin-bottom: 1rem;
    }
    .bistrot-gallery_wrapper {
        flex-direction: column ;
        img {
            width: 80%;
            margin-bottom: 1rem;
        }
    }
}





@media (max-width: 450px) {
    .about-content-bistrot {
        width: 80vw;
        h2 {
            font-size: 2rem;
        }
        h2::before {
           display: none;
        }
    }
    .left-col p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .bistrot-info {
        width: 90vw;
    
    }
}

