.hero-bistrot {
    min-height: 70vh;  
    background-image: url(/assets/img/facade2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-bistrot {
    @extend %section;
    padding: 4rem;
    min-height: 30vh;
    background-color: $light-pink;
    font-family: $main-font;
}

.about-content-bistrot{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;

    h2 {
        font-size: 2rem;
    }

    p{
        font-size: 1.2rem;
        font-weight: 400;
        color: $main-txt-dark;
        margin: 1.2rem 0;
        text-align: center;
    }

    .btn {
        margin-top: 1rem;
    }
}

.bistrot-gallery {
    @extend %section;
    padding: 2rem;
    background-color: $light-pink;

}
.bistrot-carousel {
    height: 60vh;
    width: 70vw;
    
}

.bistrot-story {

    @extend %section;
    min-height: 50vh;
    padding: 5rem;
    background-color: $light-pink;
    
}
.story-wrapper {

    height: 40vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.story-col {
    width: 35%;
}

.left-col {
    display: flex;
    flex-flow: column wrap;
    h3 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
}

.story-carousel {
    height: 30rem;
    
}