//* Hero section

.hero{
    
    height: 100vh;
    position: relative;

    overflow: hidden;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.video-hero{
    object-fit: cover;
    height: 100%;
    width: 100%;
    

    position: absolute;
    top: 0;
    left: 0;
}


//* about me section

.about{
    height: 70vh;
    @extend %section;
    padding: 3rem;
    
    background-color: $grey;
}


.about-content{

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    

    font-family: $main-font;
    text-align: center;
   

    h2{
        font-size: 2rem;
        font-weight: 400;
        width: 70%;
        color: $main-txt-dark;
        margin-bottom: 1.2rem;
    }
    p{
        font-weight: 300;
    } 

 
}

.tiles{

    display: flex;
    gap: 2rem;
    margin-bottom: 1.2rem;

    img{

        width: 2rem;
    }
}



//* accomodation
.accomodation{
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}
.accomodation-image {
    width: 70vw;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
 
}

.accomodation-info{
    background-color: $rose;
    min-height: 100%;
    width: 30vw;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 3rem;
    
    font-family: $main-font;
    color: $main-txt-dark;

    h2{
        font-weight: 400;
        font-size: 5rem;
    }
    
    
}
.wrap-info{
    // width: 80%;
    padding-left: 5rem;
    float: right;
    
    h3{
        position: relative;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 3rem;
    }
    h3::before {
        content: "";
        width: 5rem;
        height: 1px;
        background-color: $main-txt-dark;
        position: absolute;
        top: 40%;
        left: -100px;
      }


    p {
        font-size: 0.9rem;
        margin-bottom: 3rem;
    }
}


//* experience

.experience{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: $light-pink;
    
    h2{
        position: relative;
        font-family: $main-font;
        font-weight: 400;
        font-size: 9rem;
        color: $rose-darker;

        
      
        right: 30rem;
        top: 35px;
        
        z-index: 1;
    }
}

.wrap-experience{
    width: 60vw;
}

.experience-content{
    width: 100%;
    display: flex;
    justify-content: center;
    
    img{
        width: 49%;
        height: 50vh;
        object-fit: cover;
        object-position: center;
    }

    .experience-desc{
        background-color: $grey;
    
        padding: 5rem;
        
        width: 49%;
        min-height: 30vh;
        gap:  2.5rem;

        display: flex;
        align-items: center;

    }
}

.wrap-info-experience.odd {

    padding-left: 5rem;
    float: right;
    text-align: justify;
    
    h3{
        position: relative;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 3rem;
    }
    h3::before {
        content: "";
        width: 5rem;
        height: 1px;
        background-color: $rose-darken;
        position: absolute;
        top: 40%;
        left: -100px;
      }
    
    
    p {
        font-size: 0.9rem;
        margin-bottom: 3rem;
    }
}
.wrap-info-experience.even {

    padding-right: 5rem;
    float: left;
    text-align: justify;
    
    h3{
        position: relative;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 3rem;
    }
    h3::after {
        content: "";
        width: 5rem;
        height: 1px;
        background-color: $rose-darken;
        position: absolute;
        top: 40%;
        right: -100px;
      }
    
    
    p {
        font-size: 0.9rem;
        margin-bottom: 3rem;
    }
}




//*Contact me

.contact{
    min-height: 80vh;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    // background-color: $beige;
    background-color: $rose;
    position: relative;
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
}

.contact-content{
    width: 20vw;
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    

    
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(1rem);
    z-index: 990;
    border-radius: 5px;

    color: $main-txt-dark;
  
    h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    
    align-items: start;
    width: 70%;
    margin-top: 2rem;

    label{
        font-family: $main-font;
        font-size: 1rem;
        font-weight: 400;
        color: $main-txt-dark;
        margin-bottom: 0.8rem;
    }
    input, textarea{
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
        background-color: transparent;

        height: 3rem;
        width: 15rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        

    }
    ::placeholder{
        font-family: $main-font;
        color: grey;
        font-weight: 300;
        // font-style: italic;
    }
}

input:focus, textarea:focus{
    color: $main-txt-light;
}

.logo-area {
    @extend %section;
}

@media (max-width: 1200px) {
    .intro, h2{
          font-size: 4.3rem;
      }
    .quote h3{
        font-size: 2.7rem;
    }
  }
 
 @media (max-width: 992px){
     .intro{
         font-size: 3.4rem;
     }
     .slogan{
         font-size: 1.23rem;
     }
     .quote h3{
        font-size: 2.2rem;
    }
 }
 
 // Tablets
 @media (max-width: 770px){

    .hero-content{
         width: 80vw;
     }

    .about h2{
        font-size: 3.1rem;
    }

     .about-desc{
        flex-direction: column-reverse;
        .about-text-one, .about-photo{
            width: 95%;
        }
     }
     .about-desc-two{
         flex-direction: column-reverse;
         .about-text-two, .about-photo{
             width: 95%;
         }
     }
     .quote h3{
        font-size: 1.6rem;
    }
    .language div{
        width: 8rem;
        font-weight: 400;
        font-size: 0.8rem;
    }

     .experience-works{
         flex-direction: column;
        .work{
            margin: auto;
            width: 95%;
        }
     }
     .contact-content{
        width: 80vw;
        h2{
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 0.8rem;
            text-align: justify;
        }
    }
   
    .contact-form{
        margin-top: 2rem;
       
        label{
            font-size: 0.9rem;
        }
        input, textarea{
            width: 18rem;
            height: 2rem;
        }
        ::placeholder{
            font-size: 0.8rem;
        }
    }
 }
 
 @media (max-width: 580px){
     
    .intro{
        font-size: 2.8rem;
    }
    .slogan{
        font-size: 1.01rem;
    }

    .about h2{
        font-size: 2.4rem;
    }
    .quote h3{
    font-size: 1.2rem;
    }

    .experience{
        background-color: $accent-color-lighter;
    }

    .language{
        margin-top: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .language > div{
        animation: none;
        width: 33%;
        margin: 0;
    }
}
 
 // Iphone SE & similar
 @media (max-width: 450px){
    .intro{
        font-size: 2.2rem;
    }
    .slogan{
        font-size: 0.8rem;
    }

    .about h2{
            font-size: 2.3rem;
    }
    .about-content{
            padding: 0;
    }
    .about-text-two{
        padding: 0;
        text-align: center;
    }
    .quote h3{
        font-size: 0.93rem;
    }
    .skills{
        padding: 1rem;
    }
    .skills h2{
        font-size: 2.7rem;
        margin-bottom: O.2rem;
    }
    .skills p{
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    
    .experience{
        background-color: $accent-color-lighter;
    }
    .experience-content {
       width: 100vw;

       .experience-works{
        width: 80vw;
       }
       h2{
        font-size: 2.1rem;
        margin-bottom: 1rem;
        }
    }
    .work{
        width: 100%;
        padding: 2rem 1rem;
    }
   
    .contact-content{
        width: 90vw;
        h2{
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 0.7rem;
        }
    }
   
    .contact-form{
        margin-top: 1rem;
        label{
            font-size: 0.8rem;
        }
        input, textarea{
            width: 15rem;
        }
        ::placeholder{
            font-size: 0.8rem;
        }
    }
 }


