@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");
.crumbs, .about, .about-two, .room, .about-view, .room-detail, .room-photo-gallery, .suggestion, .navigation, .section-gallery, .bistrot-gallery, .bistrot-highlight, .about-beach, .beach-highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #020202;
}

h2 {
  font-size: 3.8rem;
}

.crumbs {
  padding-top: 2rem;
}

.crumb-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.crumb-title h3 {
  font-size: 2rem;
  font-weight: 300;
}

.crumb-links {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
  background-color: #fafafa;
}

.crumb-links h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.crumb-links p {
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 450px) {
  .crumb-title h3 {
    font-size: 1.8rem;
  }
}

footer {
  border-top: 1px solid #eedfd2;
  background-color: #fafafa;
  color: #020202;
  font-family: "Tinos", serif;
  min-height: 20rem;
  padding: 3.5rem 0;
}

.footer-wrap {
  margin: 0 auto;
  max-width: 90rem;
}

.footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.footer-columns p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact-info {
  margin-top: 2rem;
}

.contact-info i {
  margin-right: 1rem;
}

.contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-map {
  list-style: none;
}

.site-map li {
  line-height: 1.5rem;
}

.site-map a:hover {
  color: #cb9d75;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.logo-footer img {
  width: 10rem;
}

.logo-footer-name {
  color: #020202;
  text-align: center;
}

.logo-footer-name h1 {
  font-size: 1.5rem;
}

.developer {
  text-align: center;
  color: darkgray;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  min-height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: transparent;
}

header:hover {
  background: rgba(255, 255, 255, 0.8);
}

header:hover .btn.btn-header {
  border-color: #020202;
  color: #020202;
}

header:hover .btn.btn-header:hover {
  background-color: #020202;
  color: #fbf6ef;
}

header:hover .line {
  background-color: #020202;
}

header:hover .logo-name {
  color: #020202;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  padding-left: 3rem;
  font-weight: 700;
  color: #fbf6ef;
  font-size: 1rem;
  overflow: hidden;
}

.logo img {
  width: 8rem;
}

.logo .logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

@media (max-width: 959px) {
  .logo {
    font-size: 1.3rem;
  }
  .logo div {
    display: none;
  }
}

.burger {
  z-index: 999;
  width: 2.5rem;
  aspect-ratio: 1;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4rem;
  background-color: transparent;
  margin-right: 2.5rem;
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.burger span {
  background-color: #fbf6ef;
  width: 100%;
  height: 4px;
  border-radius: 50px;
}

.burger .cross span .line-1 {
  -webkit-transform: rotate(45deg) translate(6.8px, 6.5px);
          transform: rotate(45deg) translate(6.8px, 6.5px);
}

.burger .cross span .line-2 {
  opacity: 0;
}

.burger .cross span .line-3 {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
  height: 5rem;
}

.fixed .btn.btn-header {
  border-color: #020202;
  color: #020202;
}

.fixed .line {
  background-color: #020202;
}

.fixed .logo-name {
  color: #020202;
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 5rem;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 2.25rem;
  color: #020202;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #cb9d75;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.header-icons {
  margin-top: 2rem;
}

.header-icons a {
  display: inline;
  font-size: 1.5rem;
}

.language {
  margin-top: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language a {
  font-size: 1.5rem;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 1.25rem;
  }
}

.hide {
  width: 100%;
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-hero {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about {
  height: 70vh;
  padding: 3rem;
  background-color: #fafafa;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
  font-family: "Tinos", serif;
  text-align: center;
}

.about-content h2 {
  font-size: 2rem;
  font-weight: 400;
  width: 70%;
  color: #020202;
  margin-bottom: 1.2rem;
}

.about-content p {
  font-weight: 300;
}

.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-bottom: 1.2rem;
}

.tiles img {
  width: 2rem;
}

.about-two {
  height: 30vh;
  padding: 3rem;
  background-color: #fafafa;
}

.about-two .about-content {
  width: 60vw;
}

.accomodation {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.accomodation-image {
  width: 70vw;
}

.accomodation-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.accomodation-info {
  background-color: #eedfd2;
  min-height: 100%;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem;
  font-family: "Tinos", serif;
  color: #020202;
}

.accomodation-info h2 {
  font-weight: 400;
  font-size: 5rem;
}

.wrap-info {
  padding-left: 5rem;
  float: right;
}

.wrap-info h3 {
  position: relative;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.wrap-info h3::before {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: #020202;
  position: absolute;
  top: 40%;
  left: -100px;
}

.wrap-info p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.experience {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  background-color: #f5efeb;
}

.experience h2 {
  position: relative;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 9rem;
  color: #e3cab4;
  right: 30rem;
  top: 35px;
  z-index: 1;
}

.wrap-experience {
  width: 60vw;
}

.experience-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience-content img {
  width: 49%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.experience-content .experience-desc {
  background-color: #fafafa;
  padding: 5rem;
  width: 49%;
  min-height: 30vh;
  gap: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-info-experience.odd {
  padding-left: 5rem;
  float: right;
  text-align: justify;
}

.wrap-info-experience.odd h3 {
  position: relative;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.wrap-info-experience.odd h3::before {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: #cb9d75;
  position: absolute;
  top: 40%;
  left: -100px;
}

.wrap-info-experience.odd p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.wrap-info-experience.even {
  padding-right: 5rem;
  float: left;
  text-align: justify;
}

.wrap-info-experience.even h3 {
  position: relative;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.wrap-info-experience.even h3::after {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: #cb9d75;
  position: absolute;
  top: 40%;
  right: -100px;
}

.wrap-info-experience.even p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.position {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background-color: #eedfd2;
  position: relative;
}

.position iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .intro, h2 {
    font-size: 4.3rem;
  }
  .quote h3 {
    font-size: 2.7rem;
  }
}

@media (max-width: 992px) {
  .intro {
    font-size: 3.4rem;
  }
  .slogan {
    font-size: 1.23rem;
  }
  .quote h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 770px) {
  .hero-content {
    width: 80vw;
  }
  .about h2 {
    font-size: 3.1rem;
  }
  .about-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-desc .about-text-one, .about-desc .about-photo {
    width: 95%;
  }
  .about-desc-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-desc-two .about-text-two, .about-desc-two .about-photo {
    width: 95%;
  }
  .quote h3 {
    font-size: 1.6rem;
  }
  .language div {
    width: 8rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .experience-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience-works .work {
    margin: auto;
    width: 95%;
  }
  .contact-content {
    width: 80vw;
  }
  .contact-content h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .contact-content p {
    font-size: 0.8rem;
    text-align: justify;
  }
  .contact-form {
    margin-top: 2rem;
  }
  .contact-form label {
    font-size: 0.9rem;
  }
  .contact-form input, .contact-form textarea {
    width: 18rem;
    height: 2rem;
  }
  .contact-form ::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form :-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::placeholder {
    font-size: 0.8rem;
  }
}

@media (max-width: 580px) {
  .intro {
    font-size: 2.8rem;
  }
  .slogan {
    font-size: 1.01rem;
  }
  .about h2 {
    font-size: 2.4rem;
  }
  .quote h3 {
    font-size: 1.2rem;
  }
  .experience {
    background-color: #fea584;
  }
  .language {
    margin-top: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .language > div {
    -webkit-animation: none;
            animation: none;
    width: 33%;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .intro {
    font-size: 2.2rem;
  }
  .slogan {
    font-size: 0.8rem;
  }
  .about h2 {
    font-size: 2.3rem;
  }
  .about-content {
    padding: 0;
  }
  .about-text-two {
    padding: 0;
    text-align: center;
  }
  .quote h3 {
    font-size: 0.93rem;
  }
  .skills {
    padding: 1rem;
  }
  .skills h2 {
    font-size: 2.7rem;
    margin-bottom: O 0.2rem;
  }
  .skills p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .experience {
    background-color: #fea584;
  }
  .experience-content {
    width: 100vw;
  }
  .experience-content .experience-works {
    width: 80vw;
  }
  .experience-content h2 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }
  .work {
    width: 100%;
    padding: 2rem 1rem;
  }
  .contact-content {
    width: 90vw;
  }
  .contact-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .contact-content p {
    font-size: 0.7rem;
  }
  .contact-form {
    margin-top: 1rem;
  }
  .contact-form label {
    font-size: 0.8rem;
  }
  .contact-form input, .contact-form textarea {
    width: 15rem;
  }
  .contact-form ::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form :-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::placeholder {
    font-size: 0.8rem;
  }
}

.hero-room {
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}

.about {
  min-height: 40vh;
  padding: 2rem;
  background-color: #fafafa;
}

.about-content-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  font-family: "Tinos", serif;
}

.about-content-room h1 {
  width: 68rem;
  font-size: 8rem;
  font-weight: 500;
  color: #dcdcdc;
  line-height: 1;
  text-align: left;
}

.about-content-room h2 {
  position: relative;
  max-width: 60rem;
  font-size: 2rem;
  font-weight: 300;
  color: #333;
  padding: 5.5rem 0;
  padding-left: 0px;
  margin-left: 6.2rem;
  padding-left: 2.5rem;
}

.about-content-room h2::before {
  content: "";
  width: 6rem;
  height: 1px;
  background-color: #0083ae;
  position: absolute;
  top: 51%;
  left: -100px;
}

.about-content-room p {
  font-size: 1.2rem;
  font-weight: 400;
  width: 80%;
  color: #020202;
  margin-bottom: 1.2rem;
}

.room {
  min-height: 100vh;
  background-color: #f5efeb;
}

.room-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  gap: 2rem;
}

.room-item {
  width: 49%;
  max-height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-family: "Inter", sans-serif;
}

.room-item .room-image {
  height: 20rem;
}

.room-item .room-content {
  height: 23rem;
  background-color: #fafafa;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

.room-item .room-content .room-title h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.room-item .room-content .room-description {
  font-weight: 300;
  margin-bottom: 1rem;
}

.room-benefits {
  color: #4d4d4d;
}

.room-benefits-label {
  margin-bottom: 0.7rem;
}

.room-benefits ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #494848;
  list-style-type: none;
}

.room-benefits ul li {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-benefits ul li img {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.7rem;
}

.room-utility {
  padding-top: 2rem;
}

.hero-view {
  height: 60vh;
  background-image: url(/assets/img/chamande2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-view {
  min-height: 40vh;
  padding: 2rem 3rem;
  background-color: #fafafa;
}

.about-content-view {
  max-width: 80rem;
  font-family: "Tinos", serif;
  color: #353535;
}

.about-content-view .link-return {
  color: #cb9d75;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.about-content-view h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.about-content-view p {
  width: 80rem;
  font-size: 1.2rem;
  font-weight: 400;
  width: 80%;
  margin-bottom: 1.2rem;
}

.room-detail {
  background-color: #f5efeb;
  min-height: 50vh;
  padding: 3rem;
}

.room-detail-wrap {
  max-width: 80rem;
  font-family: "Tinos", serif;
  color: #353535;
}

.room-detail-wrap h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.room-detail-wrap h3 {
  font-size: 2rem;
  font-weight: 500;
}

.room-detail-wrap h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.room-detail-wrap p {
  width: 80rem;
  font-size: 1.2rem;
  font-weight: 300;
  width: 80%;
  margin-bottom: 1.2rem;
}

.room-highlight {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15rem;
  color: #5b5b5b;
}

.room-character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.room-character li, .room-service li {
  list-style: none;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-character li p, .room-service li p {
  font-size: 1rem;
}

.room-character-list, .room-service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.room-character-list .room-service-wrap, .room-service-list .room-service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
}

.room-icon {
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.room-photo-gallery {
  background-color: #fafafa;
  min-height: 80vh;
  padding: 3rem;
}

.gallery-wrap {
  max-width: 100rem;
  font-family: "Tinos", serif;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.gallery-wrap h2 {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.gallery-wrap h2::before {
  content: "";
  width: 5rem;
  height: 2px;
  background-color: #cb9d75;
  position: absolute;
  top: 40%;
  left: -100px;
}

.photo-gallery {
  height: 60vh;
  width: 40vw;
}

.suggestion {
  background-color: #f5efeb;
  min-height: 80vh;
  padding: 3rem;
}

.suggestion-wrap {
  max-width: 70vw;
  font-family: "Tinos", serif;
  color: #353535;
}

.suggestion-wrap h2 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.scrolling-wrapper {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
}

.room-item {
  min-width: 40rem;
}

.hero-gallery {
  height: 35vh;
  background-color: #eedfd2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-family: "Tinos", serif;
  color: #020202;
}

.hero-gallery h1 {
  font-size: 8rem;
  font-weight: 400;
}

.navigation {
  padding: 3rem;
  min-height: 18vh;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.gallery-link {
  overflow: hidden;
  position: relative;
  color: #020202;
}

.active {
  color: #cb9d75;
}

/* Underline hover effect */
.gallery-link::after {
  content: '';
  height: 2px;
  width: 100%;
  display: block;
  background: #cb9d75;
  position: absolute;
  left: 0;
  bottom: -6px;
  opacity: 0;
  -webkit-transition: all 2ms ease-in-out;
  transition: all 2ms ease-in-out;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.gallery-link:hover::after {
  opacity: 1;
}

@media (max-width: 1200px) {
  .nav-list {
    font-size: 1rem;
  }
}

@media (max-width: 959px) {
  .nav-list {
    font-size: 0.87rem;
    /* Adjust the font size for smaller screens */
  }
}

/* Media query for screens 770px and below */
@media (max-width: 770px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8rem;
  }
  /* Other responsive styles as needed */
}

.section-gallery {
  min-height: 100vh;
  background-color: #fafafa;
}

.image-gallery {
  width: 80%;
  padding: 1rem 0 2rem;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-wrapper {
  width: calc(33% - 1rem);
  height: 25rem;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .image-gallery {
    width: 90%;
    /* Adjust the width to 90% for screens below 1200px */
  }
}

@media (max-width: 959px) {
  .img-wrapper {
    width: calc(49% - 1rem);
  }
}

@media (max-width: 770px) {
  .image-gallery {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .img-wrapper {
    width: 100%;
  }
}

.hero-bistrot {
  min-height: 70vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.261))), url(/assets/img/bistrot-gallery/bistrot-terrace.png);
  background-image: linear-gradient(rgba(20, 20, 20, 0.261)), url(/assets/img/bistrot-gallery/bistrot-terrace.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-bistrot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30vh;
  padding: 5rem;
  background-color: #fafafa;
  font-family: "Tinos", serif;
}

.about-content-bistrot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 60vw;
}

.about-content-bistrot h2 {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  margin-bottom: 3rem;
}

.about-content-bistrot h2:before {
  content: "";
  width: 6rem;
  height: 2px;
  background-color: #eedfd2;
  position: absolute;
  top: 51%;
  left: -110px;
}

.story-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story-col {
  width: calc(49% - 1rem);
}

.left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.left-col p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.story-carousel {
  height: 30rem;
}

.bistrot-gallery {
  padding: 2rem;
  background-color: #fafafa;
}

.bistrot-gallery_wrapper {
  margin-top: 4rem;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.bistrot-gallery_wrapper img {
  width: 33%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
}

.bistrot-highlight {
  padding: 2rem;
  background-color: #fafafa;
}

.bistrot-info {
  width: 40vw;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .about-bistrot {
    padding-bottom: 2rem;
  }
  .bistrot-gallery_wrapper {
    gap: 0;
    margin-top: 0;
    width: 100vw;
  }
  .bistrot-gallery_wrapper img {
    border-radius: 0;
  }
}

@media (max-width: 770px) {
  .about-content-bistrot {
    width: 80vw;
  }
  .about-content-bistrot h2::before {
    width: 3rem;
    left: -60px;
  }
  .story-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .story-col {
    width: calc(100% - 0.8rem);
    margin-bottom: 1rem;
  }
  .bistrot-gallery_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bistrot-gallery_wrapper img {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .about-content-bistrot {
    width: 80vw;
  }
  .about-content-bistrot h2 {
    font-size: 2rem;
  }
  .about-content-bistrot h2::before {
    display: none;
  }
  .left-col p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .bistrot-info {
    width: 90vw;
  }
}

.hero-beach {
  min-height: 70vh;
  background-image: url(/assets/img/beach/verdon-hero.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-beach {
  padding-top: 4rem;
  min-height: 30vh;
  background-color: #fafafa;
  font-family: "Tinos", serif;
}

.about-content-beach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
}

.about-content-beach h2 {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
}

.about-content-beach h2::before {
  content: "";
  width: 6rem;
  height: 2px;
  background-color: #eedfd2;
  position: absolute;
  top: 51%;
  left: -110px;
}

.about-content-beach p {
  font-size: 1rem;
  font-weight: 400;
  color: #020202;
  margin: 1rem 0;
}

.about-content-beach .about_msg {
  color: #5b5b5b;
}

.about-content-beach .btn {
  margin-top: 1rem;
}

.beach-gallery_wrapper {
  margin-top: 4rem;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.beach-gallery_wrapper img {
  width: 33%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
}

.beach-highlight {
  padding: 2rem;
  background-color: #fafafa;
}

.beach-info {
  width: 30vw;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .beach-gallery_wrapper {
    gap: 0;
    width: 100vw;
  }
  .beach-gallery_wrapper img {
    border-radius: 0;
  }
}

@media (max-width: 770px) {
  .about-content-beach {
    width: 70vw;
  }
  .about-content-beach h2::before {
    width: 3rem;
    left: -60px;
  }
  .beach-gallery_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .beach-gallery_wrapper img {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .about-content-beach {
    width: 80vw;
  }
  .about-content-beach h2 {
    font-size: 1.8rem;
  }
  .about-content-beach h2::before {
    display: none;
  }
  .beach-info {
    width: 90vw;
  }
}

.bis-body {
  font-family: "Neuton", serif;
}

.header-bistrot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1;
}

.menu-bistrot {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem 1.2rem;
  font-family: "Neuton", serif;
  text-transform: uppercase;
}

.menu-bistrot .menu-bistrot_link {
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
}

.slider {
  position: fixed;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  z-index: 1;
  -webkit-transition: all 3ms ease-in-out;
  transition: all 3ms ease-in-out;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #ff6000;
  width: 0.8rem;
  height: 0.8rem;
}

.dot.white {
  background-color: #fff;
}

.language-active {
  font-weight: bold;
}

.hero-bis {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url(/assets/img/bistrot-gallery/bistrot-terrace.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url(/assets/img/bistrot-gallery/bistrot-terrace.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Neuton", serif;
  text-transform: uppercase;
  position: relative;
}

.hero-center {
  color: #cac6c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.hero-center h1 {
  font-size: 6rem;
  font-weight: 500;
}

.hero-center h2 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.hero-center p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.hero-bottom {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #cac6c3;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 5%;
}

.intro {
  background-color: #eedfd2;
  color: #ff6000;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Neuton", serif;
}

.intro-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 65%;
  text-align: center;
}

.intro-center h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 4.2rem;
  font-weight: 700;
}

.intro-center h3 span {
  font-weight: 300;
  font-size: 3rem;
}

.intro-center p {
  line-height: 2.5rem;
  font-size: 1.5rem;
  width: 65%;
}

.intro-center a {
  color: #ff6000;
  font-weight: 600;
}

.photo {
  background-color: #eedfd2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.photo_grid {
  width: 80vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: 17rem;
  grid-auto-flow: dense;
}

.photo_grid .wide {
  grid-column: span 2;
}

.photo_grid .tall {
  grid-row: span 2;
}

.photo_grid .big {
  grid-column: span 2;
  grid-row: span 2;
}

.bis-contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
}

.bis-contact_info h3 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.bis-contact_info i {
  color: #fff;
  font-size: 2rem;
}

.bis-contact {
  background-color: #ff6000;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.bis-contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
}

.bis-contact_info h3 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.bis-contact_info i {
  color: #fff;
  font-size: 2rem;
}

.bis-contact_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.bis-footer {
  height: 10vh;
  width: 100%;
  background: transparent;
  max-height: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bis-footer a {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem;
  text-transform: uppercase;
}

.card {
  border-radius: double(10)px;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
  max-width: 15rem;
  min-height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  gap: 2em;
}

.card img {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 8px black, -2px -2px 8px rgba(240, 235, 235, 0.795);
          box-shadow: 2px 2px 8px black, -2px -2px 8px rgba(240, 235, 235, 0.795);
}

.card:hover {
  -webkit-box-shadow: -2px -2px 8px black;
          box-shadow: -2px -2px 8px black;
}

.btn {
  font-family: "Tinos", serif;
  border: 2px solid #020202;
  color: #020202;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  min-width: 0.7rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn:hover {
  color: #fbf6ef;
  background-color: #020202;
}

.btn.btn-header {
  border: 2px solid #fbf6ef;
  color: #fbf6ef;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn.btn-info {
  font-size: 1.2rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn.btn-info:hover {
  background-color: #020202;
  color: #fbf6ef;
}

.btn.btn-rose {
  border: 2px solid #cb9d75;
  color: #cb9d75;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  min-width: 0.7rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn.btn-rose:hover {
  background-color: #cb9d75;
  color: #fbf6ef;
}

@media (max-width: 770px) {
  .btn {
    padding: 0.5rem 1.2rem;
  }
}

@media (max-width: 564px) {
  .btn {
    font-size: 0.7rem;
    padding: 0.4rem 1rem;
  }
}

.btn-work {
  font-family: "Tinos", serif;
  border: 2px solid #020202;
  color: #020202;
  text-align: center;
  max-width: 14rem;
  padding: 0.7rem 0.8rem;
}

.btn-work:hover {
  -webkit-box-shadow: 3px 3px 2px #020202;
          box-shadow: 3px 3px 2px #020202;
}

.up-icon {
  border: 2px solid red;
  background-color: #fd4906;
  border-radius: 50%;
  position: fixed;
  bottom: 8rem;
  right: 6rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.up-icon img {
  font-size: 0.8rem;
  width: 1rem;
  aspect-ratio: 1;
  color: white;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.carousel:hover .carousel__button {
  opacity: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button img {
  width: 40px;
}

.carousel__button--left {
  left: 5%;
  z-index: 1;
}

.carousel__button--right {
  right: 5%;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 40%;
}

.carousel__nav.nav-bistrot {
  display: none;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background-color: rgba(251, 242, 242, 0.734);
}

.is-hidden {
  display: none;
}

.modal {
  display: none;
  /* Hidden by default */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  top: 0;
  right: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  -webkit-animation: zoom 0.3s ease-in-out;
          animation: zoom 0.3s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Modal Content (Image) */
.modal-content {
  width: 50%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-content.bis-modal {
  height: 55rem;
  width: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}

/* The Close Button */
.closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: rgba(241, 241, 241, 0.87);
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 90;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.closeBtn:hover {
  color: #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  scale: 1.5;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  color: rgba(241, 241, 241, 0.87);
  font-size: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.prevButton:hover, .nextButton:hover {
  color: #f1f1f1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  scale: 1.5;
}

.prevButton {
  left: 22%;
}

.nextButton {
  right: 22%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */