@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lato:wght@100;300;400;700&display=swap");
.about, .about-two, .logo-area, .room, .about-view, .room-detail, .room-photo-gallery, .suggestion, .navigation, .section-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #020202;
}

h2 {
  font-size: 3.8rem;
}

footer {
  border-top: 1px solid #eedfd2;
  background-color: #fafafa;
  color: #020202;
  font-family: "Tinos", serif;
  min-height: 20rem;
  padding: 3.5rem 0;
}

.footer-wrap {
  margin: 0 auto;
  max-width: 90rem;
}

.footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.footer-columns p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact-info {
  margin-top: 2rem;
}

.contact-info i {
  margin-right: 1rem;
}

.contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-map {
  list-style: none;
}

.site-map li {
  line-height: 1.5rem;
}

.site-map a:hover {
  color: #cb9d75;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.logo-footer img {
  width: 10rem;
}

.logo-footer-name {
  color: #020202;
  text-align: center;
}

.logo-footer-name h1 {
  font-size: 1.5rem;
}

.developer {
  text-align: center;
  color: darkgray;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  min-height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: transparent;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  padding-left: 3rem;
  font-weight: 700;
  color: #fbf6ef;
  font-size: 1rem;
  overflow: hidden;
}

.logo img {
  width: 8rem;
}

.logo .logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

@media (max-width: 959px) {
  .logo {
    font-size: 1.3rem;
  }
  .logo div {
    display: none;
  }
}

.burger {
  z-index: 999;
  width: 2.5rem;
  aspect-ratio: 1;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4rem;
  background-color: transparent;
  margin-right: 2.5rem;
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.burger span {
  background-color: #fbf6ef;
  width: 100%;
  height: 4px;
  border-radius: 50px;
}

.burger:hover span:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translate(6.8px, 6.5px);
          transform: rotate(45deg) translate(6.8px, 6.5px);
}

.burger:hover span:nth-of-type(2) {
  opacity: 0;
}

.burger:hover span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
  height: 5rem;
}

.fixed .btn.btn-header {
  border-color: #020202;
  color: #020202;
}

.fixed .line {
  background-color: #020202;
}

.fixed .logo-name {
  color: #020202;
}

.primary-navigation {
  display: none;
  color: #fbf6ef;
  font-family: "Tinos", serif;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  gap: 3rem;
}

.primary-navigation .nav-link:hover {
  color: #fd4906;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.primary-navigation .active {
  color: #fd4906;
  font-weight: bold;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.primary-navigation {
  display: none;
  background-color: rgba(238, 223, 210, 0.107);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  z-index: 990;
}

.menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2rem;
  position: fixed;
  inset: 0 0 0 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 3rem;
  -webkit-animation: slide 300ms linear;
          animation: slide 300ms linear;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-hero {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about {
  height: 70vh;
  padding: 3rem;
  background-color: #fafafa;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
  font-family: "Tinos", serif;
  text-align: center;
}

.about-content h2 {
  font-size: 2rem;
  font-weight: 400;
  width: 70%;
  color: #020202;
  margin-bottom: 1.2rem;
}

.about-content p {
  font-weight: 300;
}

.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-bottom: 1.2rem;
}

.tiles img {
  width: 2rem;
}

.about-two {
  height: 30vh;
  padding: 3rem;
  background-color: #fafafa;
}

.about-two .about-content {
  width: 60vw;
}

.accomodation {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.accomodation-image {
  width: 70vw;
}

.accomodation-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.accomodation-info {
  background-color: #eedfd2;
  min-height: 100%;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem;
  font-family: "Tinos", serif;
  color: #020202;
}

.accomodation-info h2 {
  font-weight: 400;
  font-size: 5rem;
}

.wrap-info {
  padding-left: 5rem;
  float: right;
}

.wrap-info h3 {
  position: relative;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.wrap-info h3::before {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: #020202;
  position: absolute;
  top: 40%;
  left: -100px;
}

.wrap-info p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.experience {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  background-color: #f5efeb;
}

.experience h2 {
  position: relative;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 9rem;
  color: #e3cab4;
  right: 30rem;
  top: 35px;
  z-index: 1;
}

.wrap-experience {
  width: 60vw;
}

.experience-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience-content img {
  width: 49%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.experience-content .experience-desc {
  background-color: #fafafa;
  padding: 5rem;
  width: 49%;
  min-height: 30vh;
  gap: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-info-experience.odd {
  padding-left: 5rem;
  float: right;
  text-align: justify;
}

.wrap-info-experience.odd h3 {
  position: relative;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.wrap-info-experience.odd h3::before {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: #cb9d75;
  position: absolute;
  top: 40%;
  left: -100px;
}

.wrap-info-experience.odd p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.wrap-info-experience.even {
  padding-right: 5rem;
  float: left;
  text-align: justify;
}

.wrap-info-experience.even h3 {
  position: relative;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.wrap-info-experience.even h3::after {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: #cb9d75;
  position: absolute;
  top: 40%;
  right: -100px;
}

.wrap-info-experience.even p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.contact {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background-color: #eedfd2;
  position: relative;
}

.contact iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.contact-content {
  width: 20vw;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.329);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  z-index: 990;
  border-radius: 5px;
  color: #020202;
}

.contact-content h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 70%;
  margin-top: 2rem;
}

.contact-form label {
  font-family: "Tinos", serif;
  font-size: 1rem;
  font-weight: 400;
  color: #020202;
  margin-bottom: 0.8rem;
}

.contact-form input, .contact-form textarea {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  background-color: transparent;
  height: 3rem;
  width: 15rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.contact-form ::-webkit-input-placeholder {
  font-family: "Tinos", serif;
  color: grey;
  font-weight: 300;
}

.contact-form :-ms-input-placeholder {
  font-family: "Tinos", serif;
  color: grey;
  font-weight: 300;
}

.contact-form ::-ms-input-placeholder {
  font-family: "Tinos", serif;
  color: grey;
  font-weight: 300;
}

.contact-form ::placeholder {
  font-family: "Tinos", serif;
  color: grey;
  font-weight: 300;
}

input:focus, textarea:focus {
  color: #fbf6ef;
}

@media (max-width: 1200px) {
  .intro, h2 {
    font-size: 4.3rem;
  }
  .quote h3 {
    font-size: 2.7rem;
  }
}

@media (max-width: 992px) {
  .intro {
    font-size: 3.4rem;
  }
  .slogan {
    font-size: 1.23rem;
  }
  .quote h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 770px) {
  .hero-content {
    width: 80vw;
  }
  .about h2 {
    font-size: 3.1rem;
  }
  .about-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-desc .about-text-one, .about-desc .about-photo {
    width: 95%;
  }
  .about-desc-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-desc-two .about-text-two, .about-desc-two .about-photo {
    width: 95%;
  }
  .quote h3 {
    font-size: 1.6rem;
  }
  .language div {
    width: 8rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .experience-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experience-works .work {
    margin: auto;
    width: 95%;
  }
  .contact-content {
    width: 80vw;
  }
  .contact-content h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .contact-content p {
    font-size: 0.8rem;
    text-align: justify;
  }
  .contact-form {
    margin-top: 2rem;
  }
  .contact-form label {
    font-size: 0.9rem;
  }
  .contact-form input, .contact-form textarea {
    width: 18rem;
    height: 2rem;
  }
  .contact-form ::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form :-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::placeholder {
    font-size: 0.8rem;
  }
}

@media (max-width: 580px) {
  .intro {
    font-size: 2.8rem;
  }
  .slogan {
    font-size: 1.01rem;
  }
  .about h2 {
    font-size: 2.4rem;
  }
  .quote h3 {
    font-size: 1.2rem;
  }
  .experience {
    background-color: #fea584;
  }
  .language {
    margin-top: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .language > div {
    -webkit-animation: none;
            animation: none;
    width: 33%;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .intro {
    font-size: 2.2rem;
  }
  .slogan {
    font-size: 0.8rem;
  }
  .about h2 {
    font-size: 2.3rem;
  }
  .about-content {
    padding: 0;
  }
  .about-text-two {
    padding: 0;
    text-align: center;
  }
  .quote h3 {
    font-size: 0.93rem;
  }
  .skills {
    padding: 1rem;
  }
  .skills h2 {
    font-size: 2.7rem;
    margin-bottom: O 0.2rem;
  }
  .skills p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .experience {
    background-color: #fea584;
  }
  .experience-content {
    width: 100vw;
  }
  .experience-content .experience-works {
    width: 80vw;
  }
  .experience-content h2 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }
  .work {
    width: 100%;
    padding: 2rem 1rem;
  }
  .contact-content {
    width: 90vw;
  }
  .contact-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .contact-content p {
    font-size: 0.7rem;
  }
  .contact-form {
    margin-top: 1rem;
  }
  .contact-form label {
    font-size: 0.8rem;
  }
  .contact-form input, .contact-form textarea {
    width: 15rem;
  }
  .contact-form ::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form :-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .contact-form ::placeholder {
    font-size: 0.8rem;
  }
}

.hero-room {
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}

.about {
  min-height: 40vh;
  padding: 2rem;
  background-color: #fafafa;
}

.about-content-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  font-family: "Tinos", serif;
}

.about-content-room h1 {
  width: 68rem;
  font-size: 8rem;
  font-weight: 500;
  color: #dcdcdc;
  line-height: 1;
  text-align: left;
}

.about-content-room h2 {
  position: relative;
  max-width: 60rem;
  font-size: 2rem;
  font-weight: 300;
  color: #333;
  padding: 5.5rem 0;
  padding-left: 0px;
  margin-left: 6.2rem;
  padding-left: 2.5rem;
}

.about-content-room h2::before {
  content: "";
  width: 6rem;
  height: 1px;
  background-color: #0083ae;
  position: absolute;
  top: 51%;
  left: -100px;
}

.about-content-room p {
  font-size: 1.2rem;
  font-weight: 400;
  width: 80%;
  color: #020202;
  margin-bottom: 1.2rem;
}

.room {
  min-height: 100vh;
  background-color: #f5efeb;
}

.room-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  gap: 2rem;
}

.room-item {
  width: 49%;
  max-height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-family: "Inter", sans-serif;
}

.room-item .room-image {
  height: 20rem;
}

.room-item .room-content {
  height: 23rem;
  background-color: #fafafa;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
}

.room-item .room-content .room-title h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.room-item .room-content .room-description {
  font-weight: 300;
  margin-bottom: 1rem;
}

.room-benefits {
  color: #4d4d4d;
}

.room-benefits-label {
  margin-bottom: 0.7rem;
}

.room-benefits ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #494848;
  list-style-type: none;
}

.room-benefits ul li {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-benefits ul li img {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.7rem;
}

.room-utility {
  padding-top: 2rem;
}

.hero-view {
  height: 60vh;
  background-image: url(/assets/img/chamande2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-view {
  min-height: 40vh;
  padding: 2rem 3rem;
  background-color: #fafafa;
}

.about-content-view {
  max-width: 80rem;
  font-family: "Tinos", serif;
  color: #353535;
}

.about-content-view .link-return {
  color: #cb9d75;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.about-content-view h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.about-content-view p {
  width: 80rem;
  font-size: 1.2rem;
  font-weight: 400;
  width: 80%;
  margin-bottom: 1.2rem;
}

.room-detail {
  background-color: #f5efeb;
  min-height: 50vh;
  padding: 3rem;
}

.room-detail-wrap {
  max-width: 80rem;
  font-family: "Tinos", serif;
  color: #353535;
}

.room-detail-wrap h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

.room-detail-wrap h3 {
  font-size: 2rem;
  font-weight: 500;
}

.room-detail-wrap h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.room-detail-wrap p {
  width: 80rem;
  font-size: 1.2rem;
  font-weight: 300;
  width: 80%;
  margin-bottom: 1.2rem;
}

.room-highlight {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15rem;
  color: #5b5b5b;
}

.room-character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.room-character li, .room-service li {
  list-style: none;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-character li p, .room-service li p {
  font-size: 1rem;
}

.room-character-list, .room-service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.room-character-list .room-service-wrap, .room-service-list .room-service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
}

.room-icon {
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.room-photo-gallery {
  background-color: #fafafa;
  min-height: 80vh;
  padding: 3rem;
}

.gallery-wrap {
  max-width: 100rem;
  font-family: "Tinos", serif;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.gallery-wrap h2 {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

.gallery-wrap h2::before {
  content: "";
  width: 5rem;
  height: 2px;
  background-color: #cb9d75;
  position: absolute;
  top: 40%;
  left: -100px;
}

.photo-gallery {
  height: 60vh;
  width: 40vw;
}

.suggestion {
  background-color: #f5efeb;
  min-height: 80vh;
  padding: 3rem;
}

.suggestion-wrap {
  max-width: 70vw;
  font-family: "Tinos", serif;
  color: #353535;
}

.suggestion-wrap h2 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.scrolling-wrapper {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
}

.room-item {
  min-width: 40rem;
}

.hero-gallery {
  height: 35vh;
  background-color: #eedfd2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-family: "Tinos", serif;
  color: #020202;
}

.hero-gallery h1 {
  font-size: 8rem;
  font-weight: 400;
}

.navigation {
  padding: 3rem;
  min-height: 18vh;
}

.nav-list {
  --_gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

nav li {
  overflow: hidden;
  padding: calc(var(--_gap)/2);
  position: relative;
}

nav li::after {
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #eedfd2;
  translate: var(--_translate, 0);
  scale: var(--_width, 0) 1;
  -webkit-transition: scale 300ms var(--_scale-delay, 0ms), translate 500ms var(--_translate-delay, 0ms);
  transition: scale 300ms var(--_scale-delay, 0ms), translate 500ms var(--_translate-delay, 0ms);
}

nav li:hover {
  --_width: 1;
}

nav li:hover + li {
  --_translate: -100%;
  --_scale-delay: 300ms;
  --_tanslate-delay: 200ms;
}

nav li:has(+ hover) {
  --_translate: 100%;
  --_scale-delay: 300ms;
  --_tanslate-delay: 200ms;
}

nav a {
  opacity: 0.7;
  position: relative;
}

nav a:hover, a:focus-visible {
  opacity: 1;
}

.section-gallery {
  min-height: 100vh;
  background-color: #fafafa;
  border: 1px solid red;
}

.image-gallery {
  background-color: aqua;
  width: 65vw;
  padding: 1rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-wrapper {
  width: 25rem;
  height: 25rem;
  margin-top: 1rem;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-filter {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0;
}

.overlay-filter i {
  color: #fff;
  font-size: 3em;
}

.overlay-filter:hover {
  opacity: 1;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.overlay {
  display: none;
  /* Hidden by default */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.overlay-content {
  margin: 0 2rem;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.overlay-content, .caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prevButton, .nextButton {
  color: #bbb;
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close-btn:hover,
.close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.card {
  border-radius: double(10)px;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
  max-width: 15rem;
  min-height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  gap: 2em;
}

.card img {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 8px black, -2px -2px 8px rgba(240, 235, 235, 0.795);
          box-shadow: 2px 2px 8px black, -2px -2px 8px rgba(240, 235, 235, 0.795);
}

.card:hover {
  -webkit-box-shadow: -2px -2px 8px black;
          box-shadow: -2px -2px 8px black;
}

.btn {
  font-family: "Tinos", serif;
  border: 2px solid #020202;
  color: #020202;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  min-width: 0.7rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn:hover {
  background-color: #fafafa;
}

.btn.btn-header {
  border: 2px solid #fbf6ef;
  color: #fbf6ef;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn.btn-header:hover {
  background-color: #fafafa;
  color: #020202;
}

.btn.btn-info {
  font-size: 1.2rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn.btn-info:hover {
  background-color: #020202;
  color: #fbf6ef;
}

.btn.btn-rose {
  border: 2px solid #cb9d75;
  color: #cb9d75;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  min-width: 0.7rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.btn.btn-rose:hover {
  background-color: #cb9d75;
  color: #fbf6ef;
}

@media (max-width: 770px) {
  .btn {
    padding: 0.5rem 1.2rem;
  }
}

@media (max-width: 564px) {
  .btn {
    font-size: 0.7rem;
    padding: 0.4rem 1rem;
  }
}

.btn-work {
  font-family: "Tinos", serif;
  border: 2px solid #020202;
  color: #020202;
  text-align: center;
  max-width: 14rem;
  padding: 0.7rem 0.8rem;
}

.btn-work:hover {
  -webkit-box-shadow: 3px 3px 2px #020202;
          box-shadow: 3px 3px 2px #020202;
}

.up-icon {
  border: 2px solid red;
  background-color: #fd4906;
  border-radius: 50%;
  position: fixed;
  bottom: 8rem;
  right: 6rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.up-icon img {
  font-size: 0.8rem;
  width: 1rem;
  aspect-ratio: 1;
  color: white;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.carousel:hover .carousel__button {
  opacity: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button img {
  width: 40px;
}

.carousel__button--left {
  left: 5%;
  z-index: 1;
}

.carousel__button--right {
  right: 5%;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 40%;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background-color: rgba(251, 242, 242, 0.734);
}

.is-hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */