<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <script defer src="/assets/js/main.js"></script>
    <title>carousel</title>
</head>
<body>
  <header>
    <a href="#" class="logo">
        <img src="assets/img/final1-01.png" alt="ferme-logo">
        <div class="logo-name">
            <p>La ferme rose</p>
            <span>Moustier Sainte Marie</span>
        </div>
    </a>
    <div class="menu">
        <a href="#" class="btn btn-header" target=_blank>RESERVER</a>
        <button class="burger" aria-controls="primary-navigation" aria-expanded="false">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </button> 
    </div>
    <nav class="overlay">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <div class="nav-content">
            <a href="#" class="active">Accueil</a>
            <a href="#about" class="nav-link">Séjour</a>
            <a href="#experience" class="nav-link">Expérience</a>
            <a href="#experience" class="nav-link">Gallery</a>
            <a href="#contact" class="nav-link">Notre histoire</a>
            <div class="header-icons">
              <a href="https://goo.gl/maps/Ac1SdcGsKVWnsL4P8" class="social-icon" target="_blank"><i class="fi fi-brands-google"></i></a>
              <a href="https://www.tripadvisor.fr/Hotel_Review-g445024-d270587-Reviews-La_Ferme_Rose-Moustiers_Sainte_Marie_Digne_les_Bains_Alpes_de_Haute_Provence_Provence_A.html?m=19905" class="social-icon" target="_blank"><i class="fi fi-brands-tripadvisor"></i></a>
            </div>
            <div class="language">
              <a href="">EN</a>
              <hr>
              <a href="">IT</a>
              <hr>
              <a href="">DE</a>
            </div>
        </div>
    </nav>
</header>
</body>
</html>