<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="/assets/js/bistrot.js"></script>
    <title>Kako Bistrot</title>
</head>
<body class="bis-body">
    <div class="header-bistrot">
        <nav>
            <ul class="menu-bistrot">
                <li><a href="/assets/doc/Menu Kako's Bistrot - Bar à vins et Champagne-1.pdf" class="menu-bistrot_link" target="_blank">Voir la carte</a></li>
                <li><a href="" class="menu-bistrot_link">English</a></li>
            </ul>
        </nav>
    </div>
    <div class="slider">
        <div class="dot" data-section="0"></div>
        <div class="dot" data-section="1"></div>
        <div class="dot" data-section="2"></div>
        <div class="dot" data-section="3"></div>
        <!-- <div class="dot" data-section="4"></div> -->
    </div>
    <main>
        <section class="hero-bis">
            <div class="hero-center">
                <h1>Kako's Bistrot</h1>
                <h2>Bar à vin & Champagne</h2>
                <p>Moustiers-Sainte-Marie</p>
            </div>
            <div class="hero-bottom">
                <p>lundi au dimanche 17h - 1h</p>
            </div>
        </section>
        <section class="intro">
            <div class="intro-center">
                <h3><span>Bienvenue à</span> <br> Kako's Bistrot</h3>
                
                <p>Bistrot de <a href="">la ferme rose </a>qui se situe coeur du village de Moustiers-Sainte-Marie. Une belle ambiance autour d'un verre de vin ou d'une coupe de champagne, à l'écart du tumulte touristique, profitez de votre soirée pour vous décontracter sur la terrasse.
                    Dans un beau décor du siècle dernier. L'escalier conçu par Roger Talon, une véritable pièce maîtresse du Musée d'Art Moderne de New York et le bar du 19ème siècle : un comptoir d'étang magnifiquement préservé. </p>
            </div>
        </section>
        <section class="photo">
            <div class="photo_grid">
                <div class="modal">
                    <span class="closeBtn">&times;</span>
                    <img class="modal-content bis-modal" src="">
                    <span class="prevButton">&#8249;</span>
                    <span class="nextButton">&#8250;</span>
                </div>
                <div class="wide photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-balcon-tabouret.png" alt="">
                </div>
                <div class="tall photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-balcon-staff-owner.png" alt="">
                </div>
                <div class="photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-drapeau-lgbt.png" alt="">
                </div>
                <div class="photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-pancarte.png" alt="">
                </div> 
                <div class="photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-balcon-mannequin-profil.png" alt="">
                </div>
                <div class="tall photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-stairs.png" alt="">
                </div>
                <div class="big photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-facade-full.jpeg" alt="">
                </div>
                <div class="photo-grid_wrapper">
                     <img src="/assets/img/bis-official/bistrot-balcon-tabouret-coussin-rouge.png" alt="">
                 </div> 
                <div class="photo-grid_wrapper">
                    <img src="/assets/img/bis-official/bistrot-terrace-champagne.png" alt="">
                </div>
            </div>
        </section>
        
        <section class="bis-contact">
            <div class="bis-contact_info">
                <h3>Kako's Bistrot</h3>
                <h3>Rue du Docteur Sénes</h3>
                <h3>Moustiers-Sainte-Marie 04360</h3>
                <a href="tel:+33 (0)4 92 75 75 75"><h3>+33 (0)4 92 75 75 75</h3></a>
                <div class="bis-contact_links">
                    <a href="https://goo.gl/maps/nsBBhWccKTUPooYg8" target="_blank"><i class="bi bi-geo-alt"></i></a> 
                    <a href="https://www.instagram.com/kako.bistrot/" target="_blank"><i class="bi bi-instagram"></i></a>
                </div>
                
            </div>
            <div class="bis-footer">
                <a href="">Kako Beach</a>
                <a href="">La ferme rose</a>   
            </div>
        </section>
    </main>
    
</body>
</html>