<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <script defer src="/assets/js/main.js"></script>
    <title>La Ferme Rose - Hôtel de charme à Moustier-Sainte-Marie</title>
</head>
<body>
    <header>
        <a href="/index.html" class="logo">
            <img src="/assets/img/final1-01.png" alt="ferme-logo">
            <div>
                <p>La ferme rose</p>
                <span>Moustier Sainte Marie</span>
            </div>
        </a>
        <div class="menu">
            <a href="#" class="btn btn-header" target=_blank>RESERVER</a>
            <button class="burger" aria-controls="primary-navigation" aria-expanded="false">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </button> 
        </div>
        <!-- <img src="./assets/img/menu-burger.png" alt="menu-burger" class="burger"> -->
        <nav id="primary-navigation" class="primary-navigation">
            <a href="#" class="active">HÔTEL</a>
            <a href="#about" class="nav-link">Séjour</a>
            <a href="#experience" class="nav-link">SERVICES</a>
            <a href="#experience" class="nav-link">EXPERIENCE</a>
            <a href="#experience" class="nav-link">GALLERY</a>
            <a href="#contact" class="nav-link">A PROPOS</a>
        </nav>
    </header>
    <main>
        <div class="hero-gallery">
            <h1>Gallerie</h1>
        </div>
        <article class="navigation">
            <nav>
                <ul class="nav-list">
                    <li><a href="">Hôtel</a></li>
                    <li><a href="">Chambres</a></li>
                    <li><a href="">Bar & Salon</a></li>
                    <li><a href="">La collection de Kako</a></li>
                    <li><a href="">Kako bistrot</a></li>
                    <li><a href="">Kako beach</a></li>
                    <li><a href="">Tout</a></li>
                </ul>
            </nav>
        </article>
        <section class="section-gallery">
            <div class="image-gallery">
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/batiment-1.jpg" id="#photo">
                        <img src="/assets/img/hotel/batiment-1.jpg" class="img-responsive" alt="facade de l'hôtel">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/batiment-3.jpg">
                        <img src="/assets/img/hotel/batiment-3.jpg" class="img-responsive" alt="facade de l'hôtel">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/batiment-6.jpg">
                        <img src="/assets/img/hotel/batiment-6.jpg" class="img-responsive" alt="facade de l'hôtel">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/batiment-7.jpg">
                        <img src="/assets/img/hotel/batiment-7.jpg" class="img-responsive">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/batiment-8.jpg">
                        <img src="/assets/img/hotel/batiment-8.jpg" class="img-responsive">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/batiment-9.jpg">
                    <img src="/assets/img/hotel/batiment-9.jpg" class="img-responsive">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/hotel-1.jpeg">
                        <img src="/assets/img/hotel/hotel-1.jpeg" class="img-responsive">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/hotel-2.jpeg">
                        <img src="/assets/img/hotel/hotel-2.jpeg" class="img-responsive">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="img-wrapper">
                    <a href="/assets/img/hotel/hotel-3.jpeg">
                        <img src="/assets/img/hotel/hotel-2.jpeg" class="img-responsive">
                    </a>
                    <div class="overlay-filter">
                        <i class="bi bi-plus-circle-fill"></i>
                    </div>
                </div>
                <div class="overlay">
                    <div class="prevButton">
                        <i class="fi fi-bs-angle-left"></i>
                    </div>
                    <img src="" class="overlay-content">
                    <div class="caption"></div>
                    <div class="nextButton">
                        <i class="fi fi-bs-angle-right"></i>
                    </div>
                    <div class="close-btn">
                        <i class="bi bi-x"></i>
                    </div>
                </div>
            </div>
        </section>
    </main> 
    <!-- <div class="logo-area">
        <div class="wrap">
            <div class="logos">
                <div class="col">
                    <h4></h4>
                    <div class="logo-sibling">
                        <a href="">
                            <img src="" alt="">
                            <h5></h5>
                        </a>
                    </div>
                    <div class="logo-sibling">
                        <a href="">
                            <img src="" alt="">
                            <h5></h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <footer>
        <div class="footer-wrap">
            <div class="footer-columns">
                <div class="col-footer one">
                    <a href="#" class="btn btn-rose" target=_blank>RESERVER</a>
                    <div class="contact-info">
                        <p>Chem. de Peyrengue, 04360 Moustiers-Sainte-Marie</p>
                        <div class="mail contact-icon">
                            <i class="fi fi-rs-envelope"></i>
                            <p>contact@lafermerose.com</p>
                        </div>
                        <div class="phone contact-icon">
                            <i class="fi fi-rs-phone-call"></i>
                            <p> 04 92 75 75 75</p>
                        </div>
                        <a href="https://goo.gl/maps/Ac1SdcGsKVWnsL4P8" class="social-icon"><i class="fi fi-brands-google"></i></a>
                        <a href="https://www.tripadvisor.fr/Hotel_Review-g445024-d270587-Reviews-La_Ferme_Rose-Moustiers_Sainte_Marie_Digne_les_Bains_Alpes_de_Haute_Provence_Provence_A.html?m=19905" class="social-icon"><i class="fi fi-brands-tripadvisor"></i></a>
                    </div>
                </div>
                <div class="col-footer two">
                    <div class="site-map-wrap">
                        <ul class="site-map">
                            <li><a href="index.html">Accueil</a></li>
                            <li><a href="/assets/view/room.html">Chambres</a></li>
                            <li><a href="">Expérience</a></li>
                            <li><a href="">Moustier</a></li>
                            <li><a href="">Gallery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-footer two">
                    <div class="site-map-wrap">
                        <ul class="site-map">
                            <li><a href="">Notre histoire</a></li>
                            <li><a href="">Contactez nous</a></li>
                            <li><a href="">Mention Légale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-footer three">
                    <a href="#" class="logo-footer">
                        <img src="assets/img/final1-01.png" alt="ferme-logo">
                        <div class="logo-footer-name">
                            <h1>La ferme rose</h1>
                            <p>Moustier Sainte Marie</p>
                        </div>
                    </a>
                </div>
            </div>
            <p class="developer"> Designed & Developed by Eric Chow</p>
        </div>
    </footer>
    
</body>
</html>