<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <script defer src="/assets/js/main.js"></script>
    <title>Kako's bistrot</title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="assets/img/final1-01.png" alt="ferme-logo">
            <div class="logo-name">
                <p>La ferme rose</p>
                <span>Moustier Sainte Marie</span>
            </div>
        </a>
        <div class="menu">
            <a href="#" class="btn btn-header" target=_blank>RESERVER</a>
            <button class="burger" aria-controls="primary-navigation" aria-expanded="false">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </button> 
        </div>
        <!-- <img src="./assets/img/menu-burger.png" alt="menu-burger" class="burger"> -->
        <nav id="primary-navigation" class="primary-navigation">
            <a href="#" class="active">Accueil</a>
            <a href="#about" class="nav-link">Séjour</a>
            <a href="#experience" class="nav-link">Expérience</a>
            <a href="#experience" class="nav-link">Gallery</a>
            <a href="#contact" class="nav-link">Notre histoire</a>
        </nav>
    </header>
    <main>
        <div class="hero-bistrot">
            
        </div>
        <div class="about-bistrot">
            <div class="about-content-bistrot">
                <h2>Quand on vous dit « KaKo's » vous pensez à quoi ?</h2>
                <div class="story-wrapper">
                    <div class="story-col left-col">
                        <p>Au bistrot de la ferme rose qui se situe coeur du village de Moustiers-Sainte-Marie</p>
                        <p>une belle ambiance autour d'un verre de vin ou d'une coupe de champagne, à l'écart du tumulte touristique, profitez de votre soirée pour vous décontracter sur la terrasse.</p>
                        <p>Dans un beau décor du siècle dernier. L'escalier conçu par Roger Talon, une véritable pièce maîtresse du Musée d'Art Moderne de New York et le bar du 19ème siècle : un comptoir d'étang magnifiquement préservé. </p>
                        <p>En vous rendant au bistrot de la ferme rose, vous serez chaleureusement accueillis par Frederic et Vanessa, qui veilleront à rendre votre visite inoubliable. </p>
                        <p><a href="/assets/doc/Menu Kako's Bistrot - Bar à vins et Champagne-1.pdf" target="_blank">Consulter notre carte</a></p> 

                    </div>
                    <div class="story-col right-col">
                        <div class="story-carousel carousel-wrap">
                            <div class="carousel">
                                <button class="carousel__button carousel__button--left is-hidden">
                                    <img src="/assets/img/icons/previous-fill.png" alt="">
                                </button>
                                <div class="carousel__track-container">
                                    <ul class="carousel__track">
                                        <li class="carousel__slide current-slide">
                                            <img class="carousel__image" src="/assets/img/bistrot-gallery/bistrot-facade.png" alt="">
                                        </li>
                                        <li class="carousel__slide">
                                            <img class="carousel__image" src="/assets/img/bistrot-gallery/bistrot-Escalier-1.jpg" alt="">
                                        </li>
                                        <li class="carousel__slide">
                                            <img class="carousel__image" src="/assets/img/bistrot-gallery/bistrot-stairs.png" alt="">
                                        </li>
                                        <li class="carousel__slide">
                                            <img class="carousel__image" src="/assets/img/bistrot-gallery/bistrot-terrace.png" alt="">
                                        </li>
                                        <li class="carousel__slide">
                                            <img class="carousel__image" src="/assets/img/bistrot-gallery/bistrot-leather-strapontin.png" alt="">
                                        </li>
                                        <li class="carousel__slide">
                                            <img class="carousel__image" src="/assets/img/bistrot-gallery/bistrot-terrace-champagne.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                                <button class="carousel__button carousel__button--right">
                                    <img src="/assets/img/icons/next-fill.png" alt="">
                                </button>
                                <div class="carousel__nav nav-bistrot">
                                    <button class="carousel__indicator current-slide"></button>
                                    <button class="carousel__indicator"></button>
                                    <button class="carousel__indicator"></button>
                                    <button class="carousel__indicator"></button>
                                    <button class="carousel__indicator"></button>
                                    <button class="carousel__indicator"></button>
                                    <button class="carousel__indicator"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <section class="bistrot-gallery">
            <div class="bistrot-gallery_wrapper">
                <img src="/assets/img/bistrot/bistrot-bar-staff.png" alt="">
                <img src="/assets/img/bistrot/bistrot-balcon-tabouret.png" alt="">
                <img src="/assets/img/bistrot/bistrot-balcon-saxo.png" alt="">
            </div>
        </section>
       
        <section class="bistrot-highlight">
            <div class="bistrot-info">
                <h3>Horaires:</h3>
                <p>Lundi au Dimanche 17h - 1h</p>
                <a href="/assets/view/bistrot-official.html" target="_blank" class="btn">En savoir plus</a>
            </div>
        </section>
        <div class="position">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.467186009778!2d6.219275312060329!3d43.84614453980941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cbef43f21ba30d%3A0x47c4bd8f81aa7c9c!2sKAKO%20BISTROT!5e0!3m2!1sen!2sfr!4v1692981438384!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
        </div>     
        <article class="crumbs bistrot-crumbs">
            <div class="crumb-title">
                <h3>Nos autres expérience</h3>
            </div>
            <a href="/assets/view/kako-beach.html" class="crumb-links">
                <h4>Gorge du Verdon</h4>
                <p>Kako's Beach - location de bâteau éléctrique</p> 
            </a>      
        </article>
        
    </main>
    <footer>
        <div class="footer-wrap">
            <div class="footer-columns">
                <div class="col-footer one">
                    <a href="#" class="btn btn-rose" target=_blank>RESERVER</a>
                    <div class="contact-info">
                        <p>Chem. de Peyrengue, 04360 Moustiers-Sainte-Marie</p>
                        <div class="mail contact-icon">
                            <i class="fi fi-rs-envelope"></i>
                            <p>contact@lafermerose.com</p>
                        </div>
                        <div class="phone contact-icon">
                            <i class="fi fi-rs-phone-call"></i>
                            <p> 04 92 75 75 75</p>
                        </div>
                        <a href="https://goo.gl/maps/Ac1SdcGsKVWnsL4P8" class="social-icon"><i class="fi fi-brands-google"></i></a>
                        <a href="https://www.tripadvisor.fr/Hotel_Review-g445024-d270587-Reviews-La_Ferme_Rose-Moustiers_Sainte_Marie_Digne_les_Bains_Alpes_de_Haute_Provence_Provence_A.html?m=19905" class="social-icon"><i class="fi fi-brands-tripadvisor"></i></a>
                    </div>
                </div>
                <div class="col-footer two">
                    <div class="site-map-wrap">
                        <ul class="site-map">
                            <li><a href="/index.html">Accueil</a></li>
                            <li><a href="/assets/view/room.html">Chambres</a></li>
                            <li><a href="">Expérience</a></li>
                            <li><a href="">Moustier</a></li>
                            <li><a href="">Gallery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-footer two">
                    <div class="site-map-wrap">
                        <ul class="site-map">
                            <li><a href="">Notre histoire</a></li>
                            <li><a href="">Contactez nous</a></li>
                            <li><a href="">Mention Légale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-footer three">
                    <a href="#" class="logo-footer">
                        <img src="/assets/img/final1-01.png" alt="ferme-logo">
                        <div class="logo-footer-name">
                            <h1>La ferme rose</h1>
                            <p>Moustier Sainte Marie</p>
                        </div>
                    </a>
                </div>
            </div>
            <p class="developer"> Designed & Developed by Eric Chow</p>
        </div>
    </footer>
</body>
</html>