<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <script defer src="/assets/js/main.js"></script>
    <title>Kako's beach - location de bateau électrique</title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="assets/img/final1-01.png" alt="ferme-logo">
            <div class="logo-name">
                <p>La ferme rose</p>
                <span>Moustier Sainte Marie</span>
            </div>
        </a>
        <div class="menu">
            <a href="#" class="btn btn-header" target=_blank>RESERVER</a>
            <button class="burger" aria-controls="primary-navigation" aria-expanded="false">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </button> 
        </div>
        <!-- <img src="./assets/img/menu-burger.png" alt="menu-burger" class="burger"> -->
        <nav id="primary-navigation" class="primary-navigation">
            <a href="#" class="active">Accueil</a>
            <a href="#about" class="nav-link">Séjour</a>
            <a href="#experience" class="nav-link">Expérience</a>
            <a href="#experience" class="nav-link">Gallery</a>
            <a href="#contact" class="nav-link">Notre histoire</a>
        </nav>
    </header>
    <main>
        <div class="hero-beach">
            
        </div>
        <div class="about-beach">
            <div class="about-content-beach">
                <h2>Découvrez la sérénité et la splendeur du Lac de Sainte-Croix avec nos bateaux électriques, où l'aventure respectueuse de l'environnement rencontre la pure beauté naturelle.</h2>
                </p>
                <p>Soyez prêt(e) à être captivé(e) par les panoramas spectaculaires qui entourent le troisième plus grand lac de France. Les Gorges du Verdon, avec leurs falaises majestueuses et leur végétation luxuriante, offrent un décor à couper le souffle pendant que vous naviguez sur les eaux calmes. N'oubliez pas votre appareil photo – ces vues sont tout simplement trop impressionnantes pour ne pas les capturer.</p>
                <p>Profitez d'une expérience respectueuse de l'environnement avec nos bateaux sans permis, équipés d'un taud de soleil. De 4 à 8 places, parfaits pour les sorties en famille ou entre amis. Les explications de conduite et de sécurité vous seront données avant le départ pour une navigation simple et sécurisée.</p>
                <p>Départ de Kako Beach, de la plage Chabassol, pour une aventure de 2 heures dans les Gorges du Verdon. Prévoyez une tenue adaptée, des protections solaires, une collation et de l'eau. De plus, une buvette est à votre disposition pour acheter des boissons fraîches. Des poubelles sont disponibles sur la plage. Profitez de cette expérience unique au cœur de la nature préservée.</p>
                <p class="about_msg">*Nous sommes heureux de vous informer que les clientes de la Ferme Rose pourront profiter d'un tarif préférentiel exclusif lors de leur visite à Kako's Beach. Votre expérience est notre priorité, et nous sommes ravis de vous offrir cette offre spéciale pour rendre votre journée encore plus mémorable. À noter que nous n'acceptons pas de réservations.</p>
            </div>
            <div class="beach-gallery_wrapper">
                <img src="/assets/img/beach/beach-platform.JPG" alt="">
                <img src="/assets/img/beach/Accueil-bateaux1.jpg" alt="">
                <img src="/assets/img/beach/yellow-boat-scenery.png" alt="">
            </div>
        </div>
        <section class="beach-highlight">
            <div class="beach-info">
                <h3>Horaires : </h3>
                <p>Lundi au Dimanche 9h - 19h</p>
                <a href="/assets/doc/Menu Kako's Bistrot - Bar à vins et Champagne-1.pdf" target="_blank" class="btn">En savoir plus</a>
               
            </div>
        </section>
        <div class="position">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11519.336188515206!2d6.2346029!3d43.7970565!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cbef15b151f985%3A0x3e8d3304db8aa157!2sKAKO%20BEACH%20C%C3%B4t%C3%A9%20Verdon!5e0!3m2!1sen!2sfr!4v1692877955086!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>       
        </div>     
        <article class="crumbs beach-crumbs">
            <div class="crumb-title">
                <h3>Nos autres expérience</h3>
            </div>
            <a href="/assets/view/kako-bistrot.html" class="crumb-links">
                <h4>Moustiers 360°</h4>
                <p>Kako's Bistrot - Bar à vin & Champagne</p> 
            </a>      
        </article>
    </div>
    </main>
    <footer>
        <div class="footer-wrap">
            <div class="footer-columns">
                <div class="col-footer one">
                    <a href="#" class="btn btn-rose" target=_blank>RESERVER</a>
                    <div class="contact-info">
                        <p>Chem. de Peyrengue, 04360 Moustiers-Sainte-Marie</p>
                        <div class="mail contact-icon">
                            <i class="fi fi-rs-envelope"></i>
                            <p>contact@lafermerose.com</p>
                        </div>
                        <div class="phone contact-icon">
                            <i class="fi fi-rs-phone-call"></i>
                            <p> 04 92 75 75 75</p>
                        </div>
                        <a href="https://goo.gl/maps/Ac1SdcGsKVWnsL4P8" class="social-icon"><i class="fi fi-brands-google"></i></a>
                        <a href="https://www.tripadvisor.fr/Hotel_Review-g445024-d270587-Reviews-La_Ferme_Rose-Moustiers_Sainte_Marie_Digne_les_Bains_Alpes_de_Haute_Provence_Provence_A.html?m=19905" class="social-icon"><i class="fi fi-brands-tripadvisor"></i></a>
                    </div>
                </div>
                <div class="col-footer two">
                    <div class="site-map-wrap">
                        <ul class="site-map">
                            <li><a href="/index.html">Accueil</a></li>
                            <li><a href="/assets/view/room.html">Chambres</a></li>
                            <li><a href="">Expérience</a></li>
                            <li><a href="">Moustier</a></li>
                            <li><a href="">Gallery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-footer two">
                    <div class="site-map-wrap">
                        <ul class="site-map">
                            <li><a href="">Notre histoire</a></li>
                            <li><a href="">Contactez nous</a></li>
                            <li><a href="">Mention Légale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-footer three">
                    <a href="#" class="logo-footer">
                        <img src="/assets/img/final1-01.png" alt="ferme-logo">
                        <div class="logo-footer-name">
                            <h1>La ferme rose</h1>
                            <p>Moustier Sainte Marie</p>
                        </div>
                    </a>
                </div>
            </div>
            <p class="developer"> Designed & Developed by Eric Chow</p>
        </div>
    </footer>
</body>
</html>