<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <script defer src="./assets/js/main.js"></script>
    <title>La Ferme Rose - Hôtel de charme à Moustier-Sainte-Marie</title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="/assets/img/final1-01.png" alt="ferme-logo">
            <div>
                <p>La ferme rose</p>
                <span>Moustier Sainte Marie</span>
            </div>
        </a>
        <div class="menu">
            <a href="#" class="btn" target=_blank>RESERVER</a>
            <button class="burger" aria-controls="primary-navigation" aria-expanded="false">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </button> 
        </div>
        <!-- <img src="./assets/img/menu-burger.png" alt="menu-burger" class="burger"> -->
        <nav id="primary-navigation" class="primary-navigation">
            <a href="#" class="active">HÔTEL</a>
            <a href="#about" class="nav-link">CHAMBRES</a>
            <a href="#experience" class="nav-link">SERVICES</a>
            <a href="#experience" class="nav-link">EXPERIENCE</a>
            <a href="#experience" class="nav-link">GALLERY</a>
            <a href="#contact" class="nav-link">A PROPOS</a>
        </nav>
    </header>
    <main>
        <div id="hero" class="hero">
            <video autoplay muted loop poster="/Users/ericchow/Documents/KAKO/kako/assets/img/piscine-3-booking.jpg">
                <source src="/assets/img/rooms-v2.mp4" type="video/mp4">
                Votre navigateur ne supporte pas ce vidéo tag
            </video>
        </div>
        <div id="about" class="about">
            <div class="about-content-room">
                <h2>La Ferme Rose offre une expérience hôtelière singulière : douze chambres, chacune conçue de manière individuelle avec de ravissantes salles de bains entièrement couvertes de <span>faïence de Salernes</span>. Dans cette atmosphère unique et inattendue, laissez-vous porter par une ambiance détendue.</h2>
              
                
                <p>Que ce soit dans l'une de nos chambres, vous ressentirez une sensation de bien-être immense dès que vous entrerez. Toutes nos chambres sont équipées d'un lit king-size, de la climatisation, du Wi-Fi et d'un minibar... Si vous n'étiez pas à Moustiers, vous auriez à peine envie de quitter votre chambre.</p>
            </div>
        </div>
        <section id="experience" class="room">
            <div class="room-list">
                <div class="room-content">
                    <img src="/assets/img/verdon-section.jpg" alt="gorge-du-verdon">
                    <div class="desc">
                        <h3>Chambre Amande</h3>
                        <div class="info">
                            <p>Explorez les merveilleux paysages des Gorges du Verdon en toute liberté grâce à notre location de bateaux électriques. Naviguez à votre rythme, imprégnez-vous de la beauté naturelle qui vous entoure et créez des souvenirs inoubliables le long de la rivière. </p>
                        </div>  
                        <div class="room-benefits">
                            <h4>Prestation inclus:</h4>
                            <div class="room-benefits-list">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <div class="amenities-icon">
                                    <p>Wi-fi</p>
                                    <p>Climatisation</p>
                                </div>
                                <div class="amenities-icon">
                                    <p>Salle de bain privative</p>
                                    <p>Téléphone avec ligne directe</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <a href="#" class="btn-light">En savoir plus</a>   
                        </div>
                    </div>
                </div>
                <div class="room-content">
                    <img src="/assets/img/kako-bistrot.jpeg" alt="gorge-du-verdon">
                    <div class="desc">
                        <h3>Moustier 360°</h3>
                        <div class="info">
                            <p>Plongez dans l'élégance cachée du Kako Bistrot, niché au cœur du village Moustiers-Saint-Marie. Détendez-vous en savourant un verre de vin ou une coupe de champagne dans une ambiance apaisante sur notre belle terrasse, loin du tumulte touristique.</p>
                        </div>  
                        <div>
                            <a href="#" class="btn-light">En savoir plus</a>   
                        </div>
                    </div>

                </div>
            </div>
        </section> 
        
    </main>
    <footer>
        <div class="social">
            <i class="fi fi-brands-github"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-linkedin"></i>
        </div>
            <p> Designed & Developed by Eric Chow</p>
    </footer>
</body>
</html>